html{
    background-color: #d2e9fa;
}

table{
    border: 2px solid black;
    background-color: #edf5fa;
    width: 100%;
}

li{
    border: 2px solid black;
    background-color: #edf5fa;
    margin: 3%;
}

td{
    border: 1px dotted black;
}