*{
    margin: 0;
    padding: 0;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 2px black;
}

ul{
    display: flex;
    background-color: teal;
    height: 48px;
}

li{
    list-style-type: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    width: 120px;
    color: yellow;
}

#help{
    margin-left: auto
}