body {
    flex-wrap: wrap;
}

.image{
    float: left;
    display: flex;
    flex-direction: column;
}

img{
    width: 220px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px #aaaaaa;
}

img:hover{
    opacity: 50%;
}

.titre{
    background-color: black;
    color: white;
    padding-left: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.text{
    float: left;
}

/* display-inline => li */